<div id="details-bare-repository">
  <div class="modal-header">
    <h3 class="modal-title">Bare Repository</h3>
  </div>
  <div class="modal-body">
    <p>Reference: <a target="_blank" href="https://www.atlassian.com/git/tutorials/setting-up-a-repository">Atlassian Tutorial: Setting up a repository</a></p>
    <div hljs language="java" source="'git init --bare <directory>'"></div>
    <p>
      Initialize an empty Git repository, but omit the working directory.
      Shared repositories should always be created with the <u>--bare</u> flag (see discussion below).
      Conventionally, repositories initialized with the <u>--bare</u> flag end in <ug>.git</ug>.
      For example, the bare version of a repository called <u>my-project</u> should be stored in a directory called <u>my-project.git</u>.
    </p>
    <p>
      The <u>--bare</u> flag creates a repository that doesn't have a working directory, making it <s title="Not true! you can do it with ParallelGit">impossible</s> to edit files and commit changes in that repository.
      Central repositories should always be created as bare repositories because pushing branches to a non-bare repository has the potential to overwrite changes.
      Think of <u>--bare</u> as a way to mark a repository as a storage facility, opposed to a development environment.
      This means that for virtually all Git workflows, the central repository is bare, and developers local repositories are non-bare.
    </p>
    <img src="resources/images/home/bare-repository.svg">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  </div>
</div>