<div>
  <div class="page-header">
    <h3>Hello there!</h3>
  </div>
  Welcome to this site!<br/>
  <br/>
  ParallelGit is an open source project built upon <a href="https://eclipse.org/jgit">JGit</a>.<br/>
  <br/>
  It provides your Java project with easy access to your local Git repository.<br/>
  <br/>
  <br/>


  <div class="page-header">
    <h3>Why we are here?</h3>
  </div>
  No one really reads the introduction on every open source project's website. So I am going to cut it short.<br/>
  <br/>
  Here are the things you want to know:<br/>
  <ul>
    <li>Git is not just for code. People use it to store and compare <u>configuration files</u>, <u>audio samples</u>, <u>videos</u>, <u>datasets</u>, <u>images</u> etc</li>
    <li>There is a Java implementation of Git client called <u>JGit</u></li>
    <li>The JGit API is quite verbose (see examples below)</li>
    <li>Things are even more difficult when you have a <a ng-click="details('bare-repository')">bare repository</a></li>
  </ul>
  ParallelGit wrapped the JGit methods to provide a more friendly API for you to use.<br/>
  <br/>
  <br/>

  <div class="page-header">
    <h3>Examples</h3>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th class="col-md-6" colspan="2">Create Repository</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-md-6">JGit<label-no-checkout></label-no-checkout></td>
      <td class="col-md-6">ParallelGit<label-no-checkout></label-no-checkout></td>
    </tr>
    <tr>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/git_create_repository.txt'"></div>
      </td>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/pg_create_repository.txt'"></div>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th colspan="2">Create Branch</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-md-6">JGit<label-no-checkout></label-no-checkout></td>
      <td class="col-md-6">ParallelGit<label-no-checkout></label-no-checkout></td>
    </tr>
    <tr>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/git_create_branch.txt'"></div>
      </td>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/pg_create_branch.txt'"></div>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th colspan="2">Read File</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-md-6">JGit<label-no-checkout></label-no-checkout></td>
      <td class="col-md-6">ParallelGit<label-no-checkout></label-no-checkout></td>
    </tr>
    <tr>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/git_read_file.txt'"></div>
      </td>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/pg_read_file.txt'"></div>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th colspan="2">Copy File</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-md-6">JGit<label-checkout></label-checkout></td>
      <td class="col-md-6">ParallelGit<label-no-checkout></label-no-checkout></td>
    </tr>
    <tr>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/git_copy_file.txt'"></div>
      </td>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/pg_copy_file.txt'"></div>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th colspan="2">Copy File</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="col-md-6">JGit<label-checkout></label-checkout></td>
      <td class="col-md-6">ParallelGit<label-no-checkout></label-no-checkout></td>
    </tr>
    <tr>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/git_commit_file.txt'"></div>
      </td>
      <td class="col-md-6">
        <div hljs language="java" include="'resources/code/home/pg_commit_file.txt'"></div>
      </td>
    </tr>
    </tbody>
  </table>


</div>