html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
svg {
  margin-top: 20px;
  margin-bottom: 20px;
}

#fork-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 1000;
}

.navbar {
  border-top: 10px #bf5a16 solid;
  border-bottom: 10px #485563 solid;
}

.navbar-brand {
  height: 80px;
  font-size: 40px;
  line-height: 40px;
  padding: 20px 30px;
  text-shadow: 4px 4px #485563;
}

.navbar-nav > li {
  width: 120px;
  margin: 0 10px;
}

.navbar-nav > li > a {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.navbar-nav > li > a > i {
  display: block;
  font-size: 40px;
}

.nav-tabs > li {
  margin: 0 10px;
}

.nav-tabs > li > a {
  border: 1px solid #4e5d6c;
  padding: 3px 20px;
  font-size: 18px;
}

.nav-tabs > li > a .text-muted {
  color: #99A5B0;
  font-size: 14px;
}

.nav-tabs > li > a:hover {
  background: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #4e5d6c;
}

.tab-pane {
  border: 1px #4e5d6c solid;
  margin-top: -2px;
  padding: 15px;
  background: #4e5d6c;
}

.table {
  margin-bottom: 0;
}

pre {
  background-color: #bf5a16;
  border: 3px #C48E6A solid;
  color: #ebebeb;
  font-size: 13px
}

a.btn-xs {
  font-size: 15px;
  padding: 0 6px;
  margin: 0 4px;
}

a.btn-xs i.fa {
  margin-right: 5px;
  font-size: 18px;
  line-height: 15px;
  margin-top: 5px;
}

.label {
  font-size: 10px;
  margin: 0 5px;
  font-weight: 700;
}

.label-success {
  background-color: #369936;
}

.label-success + .popover {
  background-color: #C5F0B4;
  color: #369936;
}

.label-success + .popover.right > .arrow:after {
  border-right-color: #C5F0B4;
}

.label-danger {
  background-color: #BD302B;
}

.label-danger + .popover {
  background-color: #F2C4C4;
  color: #BD302B;
}

.label-danger + .popover.right > .arrow:after {
  border-right-color: #F2C4C4;
}

.popover {
  max-width: 500px;
}

.highlight {
  color: #bf5a16;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #bf5a16;
  font-weight: 500;
  background-color: #485563;
  text-shadow: 1px 1px #2b3e50;
}

.dimmed {
  opacity: 0.3;
  transition: opacity .25s ease-in-out;
}

.dimmed:hover {
  opacity: 1;
}