html {
  overflow-y: scroll;
}

.navbar {
  border-top: 10px #bf5a16 solid;
  border-bottom: 10px #485563 solid;
}

.navbar-brand {
  height: 80px;
  font-size: 40px;
  line-height: 40px;
  padding: 20px 30px;
}

.nav > li {
  width: 120px;
  margin: 0 10px;
}

.nav > li > a {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.nav > li > a > i {
  display: block;
  font-size: 40px;
}

.nav-tabs > li > a {
  border: 1px solid #4e5d6c;
}

.nav-tabs > li > a:hover {
  background: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #4e5d6c;
}

.tab-pane {
  border: 1px #4e5d6c solid;
  margin-top: -2px;
  padding: 15px;
  background: #4e5d6c;
}