body {
  background: #3C3F41;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  background: #383838;;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.glyphicon {
  top: 2px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #1C1C1C;
}

.modal-sm {
  width: 500px;
}

.dropdown-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  border-radius: 0;
  background: #1C1C1C;
}

.dropdown-menu .divider {
  margin: 2px 0;
  background-color: #ADADAD;
}

.dropdown-menu>li>a {
  color: #ADADAD;
}

[ng-click],
.dropdown-toggle {
  cursor: pointer;
}

.tab-content,
.ui-tabs-scrollable > .spacer > div:first-child > .tab-content {
  height: calc(100% - 28px);
  border: 1px solid #282828;
}

ul.nav-tabs {
  border-bottom: 0;
}

ul.nav-tabs>li>a {
  border: 1px solid transparent;
  border-radius: 0;
  padding: 3px 12px;
}

ul.nav-tabs>li>a,
ul.nav-tabs>li>a:hover {
  background: #3C3E3F;
  border: 1px solid #282828;
  color: #ADADAD;
}

ul.nav-tabs>li.active>a,
ul.nav-tabs>li.active>a:hover,
ul.nav-tabs>li.active>a:focus {
  background: #515658;
  border: 1px solid #282828;
  color: #ADADAD;
}

.ui-tabs-scrollable > .spacer > div:first-child > .nav-tabs > li > a {
  height: 28px;
}

.ui-tabs-scrollable > .nav-button {
  height: 28px;
  line-height: 28px;
  border-radius: 0 !important;
  color: #ADADAD;
  border: 1px solid #282828;
  background-color: #3C3E3F;
  outline: none;
}

.tab-pane {
  height: 100%;
}

.tree-label {
  white-space: nowrap;
}

.ui-tabs-scrollable {
  height: 100%;
}

#nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

#main {
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}

.fill-height {
  height: 100%;
  overflow-y: auto;
}