.cg-notify-message {
  border-radius: 0;
  background: #383838;
  padding: 10px 50px 10px 30px;
  box-shadow: inset 0 0 10px #282828;
  border: 1px solid #282828;
  color: #ADADAD;
}

.cg-notify-close {
  color: #ADADAD;
  text-shadow: none;
  opacity: 0.5;
  top: 12px;
  right: 10px;
  font-size: 40px;
}

.cg-notify-close:hover,
.cg-notify-close:focus {
  color: #ADADAD;
  opacity: 1;
}
