<div id="editor" class="fill-height" ng-controller="FileEditorController">
  <div class="fill-height" ng-show="files != null && files.length > 0">
    <scrollable-tabset api="tabsScroll">
      <uib-tabset>
        <uib-tab ng-repeat="file in files" class="{{_fileClass(file)}}" active="file.active" select="focusFile(file)">
          <uib-tab-heading>{{file.path | filename}} <a ng-click="closeFile(file)"><i class="glyphicon glyphicon-remove"></i></a></uib-tab-heading>
          <div class="fill-height" ui-ace="file.aceOptions" ng-model="file.data"></div>
        </uib-tab>
      </uib-tabset>
    </scrollable-tabset>
  </div>
</div>