treecontrol {
  color: #ADADAD;
}

treecontrol li>.tree-selected {
  background-color: #0D293E !important;
}

treecontrol li>.tree-selected>span {
  font-weight: normal !important;
  color: #ADADAD !important;
}

treecontrol li {
  white-space: nowrap;
}

treecontrol li.tree-collapsed:before,
treecontrol li.tree-expanded:before {
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings', serif;
  line-height: 1;
  margin-left: -18px;
  margin-right: 5px;
}

treecontrol li.tree-collapsed:before {
  content: "\e250";
}

treecontrol li.tree-expanded:before {
  content: "\e252";
}

treecontrol li>i {
  z-index: 200;
  position: relative;
}

treecontrol li>.tree-label {
  width: 100%;
  display: inline-block;
  z-index: 100;
}

#file-tree {
  border: 1px solid #282828;
  padding: 15px 0;
  background: #383838;
  overflow-y: scroll;
}

#file-tree span.tree-node-modified {
  color: #31708f;
}

#file-tree span.tree-node-new {
  color: #3c763d;
}

#editor li.file-dirty>a {
  color: #f2dede;
  background-color: #a94442;
}