<ul>
  <li ng-repeat="node in node.children | orderBy: ['type','name']"  ng-class="[headClass(node)]" context-menu="options.contextMenu(node)" set-node-to-data>
    <div ng-click="selectNodeLabel(node)" ng-dblclick="selectNodeHead(node)" ng-style="{'padding-left': (node.depth * 20) + 'px'}" ng-class="[selectedClass(), unselectableClass()]">
      <i class="tree-branch-head" ng-class="iBranchClass()"></i>
      <i class="tree-leaf-head"></i>
      <div class="tree-label" tree-transclude></div>
    </div>
    <treeitem ng-if="nodeExpanded()"></treeitem>
  </li>
</ul>