#file-tree {
  border: 1px solid #282828;
  padding: 15px 0;
  background: #383838;
  overflow-y: scroll;
}

#file-tree span.tree-node-modified {
  color: #31708f;
}

#file-tree span.tree-node-new {
  color: #3c763d;
}

#editor li.file-dirty>a {
  color: #f2dede;
  background-color: #a94442;
}