.ace_search {
  background: #262424!important;
  border: none!important;
}

.ace_button {
  color: #e6e1dc!important;
}

.ace_searchbtn,
.ace_replacebtn {
  background-color: #383838!important;
  border-left: 1px solid #262424!important;
}

.ace_searchbtn {
  padding: 1px!important;
}

.ace_replacebtn {
  padding: 4px!important;
}

.ace_button:hover {
  color: #ffffff!important;
  background-color: #1C1C1C!important;
}

.ace_search_field {
  background-color: #1C1C1C!important;
  color: #ADADAD!important;
  border: solid 1px transparent!important;
}

.ace_search_field:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 20px rgba(102,175,233,.6)!important;
}

.ace_search_form,
.ace_replace_form {
  border: solid 1px transparent!important;
}
