treecontrol {
  color: #ADADAD;
}

treecontrol li .tree-selected {
  background-color: #0D293E !important;
  font-weight: normal !important;
  color: #ADADAD !important;
}

treecontrol li {
  white-space: nowrap;
  padding: 0;
}

treecontrol li.tree-collapsed:before,
treecontrol li.tree-expanded:before {
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings', serif;
  line-height: 1;
  margin-left: -18px;
  margin-right: 5px;
}

/*treecontrol li.tree-collapsed:before {*/
  /*content: "\e250";*/
/*}*/

/*treecontrol li.tree-expanded:before {*/
  /*content: "\e252";*/
/*}*/

treecontrol li>i {
  z-index: 200;
  position: relative;
}

treecontrol li>.tree-label {
  white-space: nowrap;
  width: 100%;
  z-index: 100;
}
