treecontrol {
  color: #ADADAD;
  display: table;
  width: 100%;
}

treecontrol li {
  padding: 0;
}

treecontrol li .tree-selected {
  background-color: #286090 !important;
  font-weight: normal !important;
  color: #ffffff !important;
}

treecontrol li.tree-collapsed>div:before,
treecontrol li.tree-expanded>div:before {
  position: relative;
  top: 3px;
  float: left;
  font-family: 'Glyphicons Halflings', serif;
  line-height: 1;
  margin-left: -18px;
}

treecontrol li.tree-collapsed>div:before {
  content: "\e250";
}

treecontrol li.tree-expanded>div:before {
  content: "\e252";
}