.cg-notify-message {
  color: #d9edf7;
  background: #31708f;
  padding: 10px 50px 10px 30px;
  box-shadow: inset 0 0 20px #282828;
  border: none;
}

.cg-notify-message-error {
  color: #f2dede;
  background: #a94442;
}

.cg-notify-close {
  color: #ADADAD;
  text-shadow: none;
  opacity: 0.5;
  top: 12px;
  right: 10px;
  font-size: 40px;
}

.cg-notify-close:hover,
.cg-notify-close:focus {
  color: inherit;
  opacity: 1;
}
