.CodeMirror-merge,
.CodeMirror-merge>.CodeMirror-merge-pane,
.CodeMirror-merge>.CodeMirror-merge-pane>.CodeMirror {
  height: 100%;
  border: none;
}

.CodeMirror {
  font-size: 1em;
  line-height: 1.5em;
  font-family: inconsolata, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #1C1C1C;
  color: #E6E1DC;
}
.CodeMirror-lines {
  padding: 0;
}
.CodeMirror-gutters,
.CodeMirror-merge-gap {
  background-color: #262424;
  z-index: 3;
  border: none;
}

.CodeMirror-gutters {
  padding-right: 5px;
}

.CodeMirror-merge-l-chunk,
.CodeMirror-merge-r-chunk,
.CodeMirror-merge-l-chunk.CodeMirror-merge-r-chunk {
  border: none;
  background: rgba(56, 85, 112, 0.6);
}

.CodeMirror-merge-r-deleted,
.CodeMirror-merge-l-deleted {
  background: #437C9D none;
}

.CodeMirror-merge-r-inserted,
.CodeMirror-merge-l-inserted {
  background: #437C9D none;
}

.CodeMirror-cursor {
  border-left: 2px solid #E6E1DC;
}
.CodeMirror-activeline-background {
  background: #333435;
}
.CodeMirror-linenumber,
.CodeMirror pre {
  font-size: 12px;
  height: 14px;
  line-height: 14px;
}

.cm-comment {
  font-style: italic;
  color: #AC4BB8;
}
.cm-number {
  color: null;
}
.cm-atom {
  color: null;
}
.cm-string {
  color: #8EC65F;
}
.cm-property {
  color: null;
}
.cm-keyword {
  color: null;
}
.cm-operator {
  color: null;
}
.CodeMirror-linenumber {
  color: italic;
}

.CodeMirror-merge-l-connect,
.CodeMirror-merge-r-connect {
  fill: rgb(56, 85, 112);
   stroke: none;
}

.CodeMirror-merge-copy {
  color: #E6E1DC;
}

.CodeMirror-selected,
.CodeMirror-focused .CodeMirror-selected {
  background: rgba(100, 100, 100, 0.8);
}

.CodeMirror-merge-2pane .CodeMirror-merge-pane {
  width: 48%;
}

.CodeMirror-merge-2pane .CodeMirror-merge-gap {
  width: 4%;
}