.ui-grid {
  border: none;
  background-color: #1C1C1C;
}

.ui-grid-header-canvas {
  background: #383838;
}

.ui-grid-canvas {
  margin-top: -1px;
}

.ui-grid-header {
  border: none;
}

.ui-grid-header-cell {
  background: #262424;
  color: #E6E1DC;
  border: none;
}

.ui-grid-row:nth-child(even) .ui-grid-cell,
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #1C1C1C;
  color: #ADADAD;
  border: none;
}

.ui-grid-row.ui-grid-row-selected>[ui-grid-row]>.ui-grid-cell {
  background-color: #0D293E;
}