<div>
  <div class="page-header">
    <h3>It is open source!</h3>
  </div>
  ParallelGit is released with Apache License 2.0.<br/>
  This means it is absolutely free to use and modify the <a class="btn btn-primary btn-xs" href="https://github.com/beijunyi/ParallelGit"><i class="fa fa-github"></i>source code</a>.<br/>
  <br/>
  If ParallelGit is not working as expected, feel free to <a class="btn btn-primary btn-xs" href="https://github.com/beijunyi/ParallelGit/issues?q=is%3Aopen+is%3Aissue"><i class="fa fa-edit"></i>drop a note</a> to describe the issue. I will get back to you as quickly as I can.<br/>
  <br/>
  Dev contribution is always welcomed. <a class="btn btn-primary btn-xs" href="https://github.com/beijunyi/ParallelGit/pulls?q=is%3Aopen+is%3Apr#fork-destination-box"><i class="fa fa-code-fork"></i>Fork the project</a> and submit your pull request.<br/>
  <br/>
  If you like this project, why not <a class="btn btn-primary btn-xs" href="https://github.com/beijunyi/ParallelGit"><i class="fa fa-star"></i>give it a star</a>?<br>
  <br/>
  Thank you :)
</div>