<form ng-submit="connect()" id="login-form">
  <div class="modal-header">
    <h3 class="modal-title">Hello there!</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="login-username">Username</label>
      <input type="text" class="form-control" name="username" ng-model="username" id="login-username" required/>
    </div>
    <div class="form-group">
      <label for="login-email">Email Address</label>
      <input type="email" class="form-control" name="email" ng-model="email" id="login-email" required/>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Sign in</button>
  </div>
</form>