<div>
  <div class="page-header">
    <h3>via Build Tools</h3>
  </div>
  <tabset>
    <tab ng-repeat="module in modules">
      <tab-heading>{{module.name}}</tab-heading>
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Maven</th>
          <th>Gradle</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="artifact in module.artifacts">
          <td class="col-md-3">
            <h4>{{artifact.name}}</h4>
          </td>
          <td class="col-md-4">
            <pre>{{artifact | build: 'maven'}}</pre>
          </td>
          <td class="col-md-4">
            <pre>{{artifact | build: 'gradle'}}</pre>
          </td>
        </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>