<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a>Example 1</a>
      </li>
      <li>
        <a>Example 2</a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <div ng-repeat="category in examples">
      <div class="page-header">
        <h3>{{category.name}}</h3>
      </div>
      <div ng-repeat="example in category.examples">
        <h4>{{example.name}}</h4>
        <source-loader url="example.url" method="example.method"></source-loader>
      </div>
    </div>
  </div>
</div>