<div>
  <div class="page-header">
    <h3>Integrate via Build Tools</h3>
  </div>
  <uib-tabset>
    <uib-tab ng-repeat="module in modules">
      <tab-heading>{{module.name}} <span class="text-muted">({{module.version}})</span></tab-heading>
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Maven</th>
          <th>Gradle</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="artifact in module.artifacts">
          <td class="col-md-2">
            <h5>{{artifact.name}}</h5>
          </td>
          <td class="col-md-5">
            <div hljs language="xml" source="artifact | build: 'maven'"></div>
          </td>
          <td class="col-md-5">
            <div hljs language="gradle" source="artifact | build: 'gradle'"></div>
          </td>
        </tr>
        </tbody>
      </table>
    </uib-tab>
  </uib-tabset>
  <br/>
  <br/>

  <div class="page-header">
    <h3>Which ones do I want ?</h3>
  </div>
  <div>
    <svg width="620" height="160" class="center-block">
      <defs>
        <marker id="arrow" markerWidth="13" markerHeight="13" refX="2" refY="6" orient="auto">
          <path d="M2,2 L2,11 L10,6 L2,2" style="fill: #ebebeb;"></path>
        </marker>
      </defs>
      <g>
        <rect x="5" y="58" width="200" height="50" fill="#bf5a16" stroke="#C48E6A" stroke-width="3px"></rect>
        <text x="37" y="88" font-size="20" fill="#ebebeb">ParallelGit Utils</text>
      </g>
      <g>
        <rect x="405" y="5" width="210" height="50" fill="#bf5a16" stroke="#C48E6A" stroke-width="3px"></rect>
        <text x="417" y="35" font-size="20" fill="#ebebeb">ParallelGit FileSystem</text>
      </g>
      <g>
        <rect x="405" y="101" width="210" height="50" fill="#bf5a16" stroke="#C48E6A" stroke-width="3px"></rect>
        <text x="415" y="131" font-size="20" fill="#ebebeb">ParallelGit Commands</text>
      </g>
      <line x1="403" y1="30" x2="222" y2="71" stroke="#ebebeb" stroke-width="2" marker-end="url(#arrow)"></line>
      <line x1="403" y1="124" x2="222" y2="92" stroke="#ebebeb" stroke-width="2" marker-end="url(#arrow)"></line>
    </svg>
  </div>
  First of all, all the modules are compatible to each other. It is absolutely fine if you want to include all of them in your project.<br/>
  Secondly, <u>PG FileSystem</u> and <u>PG Commands</u> depend on <u>PG Utils</u>. Therefore, <u>PG Utils</u> is automatically included even if you didn't explicitly add it to your "pom.xml".<br/>
  <br/>
  <u>PG Utils</u> is the basic package. It includes a collection of handy utility classes. If your project only uses basic Git operations such as <a>creating branch</a>, <a>reading file</a> and <a>tagging commit</a>, this module alone might well be sufficient.<br/>
  <br/>
  <u>PG FileSystem</u> is an implementation of <a>Java 7 nio FileSystem</a>. It allows you to interact with a Git repository as it were a normal file system. If your project is IO intensive, you should consider adding this module.<br/>
  <br/>
  <u>PG Commands</u> is still being developed. The main purpose of this module to simplify the usages of the complex Git operations such as <a>merging</a>, <a>rebasing</a> and <a>cherry-picking</a>.<br/>
  <br/>
  <br/>

  <div class="page-header">
    <h3>Create a repository</h3>
  </div>

  <div class="page-header">
    <h3>Trouble shooting</h3>
  </div>
  <ul>
    <li>
      <h5>java.nio.file.ProviderNotFoundException: Provider "gfs" not found <i class="fa fa-exclamation-circle highlight fa-2x"></i></h5>
      It usually happens when the <a>GitFileSystemProvider</a> is not properly installed. Java 7 nio requires all 3rd party file systems to be specified in
      <div hljs source="'/META-INF.services/java.nio.file.spi.FileSystemProvider'"></div>
      Java reads this file at startup and creates a singleton <a>FileSystemProvider</a> for every custom file system.<br/>
      However, it has no effect when you load this file at runtime.<br/>
      So if you plan to package your project into a "war" file and feed it to Jetty or Tomcat, you are very likely to get this exception.<br/>
      The solution to this problem is to manually create this file with the below content and add it to your classpath.<br/>
      <div hljs source="'com.beijunyi.parallelgit.filesystem.GitFileSystemProvider'"></div>
    </li>
  </ul>

</div>