<div>
  <div class="page-header">
    <h3>Hello there!</h3>
  </div>
  <p class="chill">
    Welcome to this site!<br/>
    ParallelGit is an open source project built upon <a>JGit</a>.<br/>
    It provides you with easy access to your local Git repository.<br/>
    <br/>
  </p>


  <div class="page-header">
    <h3>Yet another storage</h3>
  </div>
  <p class="chill">
    Every non-trivial project needs some sort of storage.<br/>
    Many projects use a SQL database. Some are better off using a NoSQL database. The dodgy ones simply drop a few files in your home directory.<br/>
    When should I consider using a local Git repository as a data storage and what is it good for?<br/>
    <br/>
  </p>


  <div class="page-header">
    <h3>Why Git?</h3>
  </div>
  <p class="chill">
    <br/>
  </p>

</div>