<div>
  <div class="page-header">
    <h3>Hello there!</h3>
  </div>
  <p>
    Welcome to this site!<br/>
    <br/>
    ParallelGit is an open source project built upon <a>JGit</a>.<br/>
    <br/>
    It provides you with easy access to your local Git repository.<br/>
    <br/>
    <br/>
  </p>


  <div class="page-header">
    <h3>Yet another data storage</h3>
  </div>
  <p>
    Every non-trivial project needs some sort of a data storage.<br/>
    <br/>
    Many projects use a SQL database. Some are better off with a NoSQL database. The dodgy ones simply drop a few files in your home directory.<br/>
    <br/>
    A Git repository is just another place to store your data.<br/>
    <br/>
    <br/>
  </p>


  <div class="page-header">
    <h3>The keeper of the history</h3>
  </div>
  <p>
    We all know that Git is awesome at storing text files that change over time.<br/>
    If you are managing some text files and want a system to keep a close eye on them, Git is a good candidate for this job.<br/>
    <br/>
    In fact, Git doesn't care about the format of a file.<br/>
    You can drop a binary file into a Git repository and Git will keep a nice and neat history of this file (assuming you use the system sensibly).<br/>
    <br/>
    What Git really offers is the ability to keep the entire history of a data structure.

  </p>

</div>