<div>
  <div class="page-header">
    <h3>It is open source!</h3>
  </div>
  <p>
    ParallelGit is released with Apache License 2.0.<br/>
    This means it is absolutely free to use or modify the <a class="btn btn-primary btn-xs"><i class="fa fa-github"></i>source code</a> of ParallelGit.<br/>
    <br/>
    If ParallelGit isn't doing what you expect it to do, or if you find things can be done in a better way, <a class="btn btn-primary btn-xs"><i class="fa fa-code-fork"></i>fork it</a>!<br/>
    <br/>
    If you love this project or this website, light up <a class="btn btn-primary btn-xs"><i class="fa fa-star"></i>a star here</a> to let the author know :)
  </p>
  <div>

  </div>
</div>