<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">ParallelGit</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown" uib-dropdown keyboard-nav ng-controller="StatusController">
          <a class="dropdown-toggle" uib-dropdown-toggle ng-show="head != null">{{head | head}}<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-check" uib-dropdown-menu ng-show="branches != null">
            <li ng-repeat="branch in branches" ng-class="{'menu-item-checked': branch == head.branch}"><a ng-click="checkout(branch)">{{branch}}</a></li>
            <li role="separator" class="divider" ng-show="branches.length > 0"></li>
            <li><a ng-click="createBranch()">Create new branch</a></li>
            <li><a ng-click="deleteBranch()">Delete branch</a></li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown keyboard-nav ng-controller="VersionControlController">
          <a class="dropdown-toggle" uib-dropdown-toggle>Version Control<span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ng-click="commit()">Commit</a></li>
            <li><a ng-click="reset()">Reset</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="stashChanges()">Stash changes</a></li>
            <li><a ng-click="unstashChanges()">Unstash changes</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown keyboard-nav ng-controller="AdminController">
          <a class="dropdown-toggle" uib-dropdown-toggle ng-show="credential != null"><i class="glyphicon glyphicon-user"></i> {{credential.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a ng-click="manageRepositories(branch)">Manage Repositories</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>