<div id="news">
  <div class="page-header">
    <h3>Version 1.0 is out!</h3>
  </div>
  The first stable release is available from Maven Central Repository.<br/>
  Visit the <a ng-href="#/get-started">Get started</a> page and find the latest POM references.<br/>
  <br/>

  <div class="page-header">
    <h3>What comes next?</h3>
  </div>
  <h4>Planned features for 1.1:</h4>
  <ul>
    <li>In-Core Merging (three-way merge)</li>
    <li>In-Core Rebasing (three-way merge)</li>
    <li>In-Core Cherry-pick (three-way merge)</li>
  </ul>
  <br>

  <h4>Planned features for 1.2:</h4>
  <ul>
    <li>Parallelizable remote actions (push/pull)</li>
    <li>To be decided...</li>
  </ul>

</div>