<div id="news">
  <div class="page-header">
    <h3>Version 1.0 is out!</h3>
  </div>
  The first stable release is available from Maven Central Repository.<br/>
  Visit the <a ng-href="#/get-started">Get started</a> page and find the latest POM references.<br/>
  <br/>

  <div class="page-header">
    <h3>What comes next?</h3>
  </div>
  <h4>Planned features for 1.1:</h4>
  <ul>
    <li>Merging (three-way merge) for bare repository <span class="label label-default">ParallelGit Commands</span></li>
    <li>Rebasing (three-way merge) for bare repository <span class="label label-default">ParallelGit Commands</span></li>
    <li>Cherry-pick (three-way merge) for bare repository <span class="label label-default">ParallelGit Commands</span></li>
  </ul>
  <br>

  <h4>Planned features for 1.2:</h4>
  <ul>
    <li>Remote actions (push/pull)?</li>
    <li>To be decided...</li>
  </ul>

</div>